/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.social path {
  fill: var(--ifm-navbar-link-color);
  transition: fill var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.social:hover path {
  fill: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .social {
    display: none;
  }
}
